.app-container {
  font-family: Arial, sans-serif;
}

.app-nav {
  background-color: #333;
  padding: 10px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.app-content {
  padding: 20px;
}



/* App.css */
.admin-page-container {
  display: flex;
}

.admin-nav {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}


.attendance-section {
  margin-top: 20px;
}

.fetch-attendance-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.fetch-attendance-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.attendance-data {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}
