.all-students-container {
  text-align: center;
  margin-top: 50px;
}

.all-students-container h1 {
  margin-bottom: 20px;
}

.students-list {
  list-style: none;
  padding: 0;
}

.student-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.student-item span {
  margin-right: 10px;
}

.buttons-container {
  display: flex;
}

.see-attendance-button,
.delete-student-button,
.create-student-button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.create-student-button {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.see-attendance-button {
  background-color: #4caf50;
  color: white;
}

.see-attendance-button:hover {
  background-color: #45a049;
}

.delete-student-button {
  background-color: #f44336;
  color: white;
}

.delete-student-button:hover {
  background-color: #d32f2f;
}

@media screen and (max-width: 768px) {
  .student-item {
    flex-direction: column;
    text-align: left;
  }

  .buttons-container {
    margin-top: 10px;
  }

  .buttons-container button {
    margin-left: 0;
    margin-top: 5px;
  }
}
